#cloud-config
package_update: true
package_upgrade: true

runcmd:
  - mkdir -p /home/adminuser/actions-runner
  - mkdir -p /home/adminuser/actions-runner2
  - chown -R adminuser:adminuser /home/adminuser/actions-runner
  - chown -R adminuser:adminuser /home/adminuser/actions-runner2

  - curl -o /home/adminuser/actions-runner/actions-runner-linux-x64-2.323.0.tar.gz -L https://github.com/actions/runner/releases/download/v2.323.0/actions-runner-linux-x64-2.323.0.tar.gz
  - curl -o /home/adminuser/actions-runner2/actions-runner-linux-x64-2.323.0.tar.gz -L https://github.com/actions/runner/releases/download/v2.323.0/actions-runner-linux-x64-2.323.0.tar.gz

  - tar xzf /home/adminuser/actions-runner/actions-runner-linux-x64-2.323.0.tar.gz -C /home/adminuser/actions-runner
  - tar xzf /home/adminuser/actions-runner2/actions-runner-linux-x64-2.323.0.tar.gz -C /home/adminuser/actions-runner2

  - apt install -y libssl-dev libicu-dev libkrb5-dev zlib1g libcurl4 openssl

  - chown -R adminuser:adminuser /home/adminuser/actions-runner
  - chown -R adminuser:adminuser /home/adminuser/actions-runner2
  - chmod -R u+rwX /home/adminuser/actions-runner
  - chmod -R u+rwX /home/adminuser/actions-runner2

  - su - adminuser -c '/home/adminuser/actions-runner/config.sh --unattended --url https://github.com/geresvb/backendrampup --token ${backend_token}'
  - su - adminuser -c '/home/adminuser/actions-runner2/config.sh --unattended --url https://github.com/geresvb/frontendrampup --token ${frontend_token}'

  - su - adminuser -c 'nohup /home/adminuser/actions-runner/run.sh > /home/adminuser/actions-runner/runner.log 2>&1 &'
  - su - adminuser -c 'nohup /home/adminuser/actions-runner2/run.sh > /home/adminuser/actions-runner2/runner.log 2>&1 &'
